.info {
  background-color: green;
  padding: .5em;
}

#wrapper {
  display: flex;
  gap: 16px;
  width: fit-content;
  background-color: lightblue;
  padding: 16px;
}

button {
  margin-top: 16px;
}
